{% extends "layouts/base.html" %}
{% block contents %}
<section class="hero is-centered">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <h1 class="title">RSS Scrapper</h1>
                    {% if user.is_authenticated %}
                    <a class="button is-link" href="{% url 'rss.index' %}">Rss Data</a>
                    {% else %}
                    <a class="button is-link" href="{% url 'login' %}">Login</a>
                    <a class="button is-link" href="{% url 'signup' %}">Signup</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}
